body{
    font-family: 'Fira Sans' , Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #141414;
}

h1, h2, h3, p{
    margin: 0px;
}

ul, li, a{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.header-menu{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
