@charset "UTF-8";

:root {
  --white-text: #fff;
  --back-white: #F2F2F2;
  --font-black: #10100E;
  --back-ice: #ededed;
  --font-gray: #333;
  --font-green: #4d9f00;
  --scroll-track: #F8CA0F;
  /* --card-background: #f1bcff5c; */
  --card-background: #6115754a;
  --card-background-hover: #ffffffe0;
  --barra-verde: #A7F405;
}

.li-mod{
  list-style: circle;
  font-family: 'Poppins'; 
  font-weight: 200;
}

.li-mod::marker{
  margin: 0 .5rem 0 0;
  color: var(--back-white);
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--font-green); 
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(158 158 158 / 50%);
}
body {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Roboto', sans-serif,  'Roboto', serif ;
} 
.fundo-claro{
  background: var(--back-white);
  color: var(--font-black);
}

.fundo-escuro{
  background: var(--back-ice);
  color: var(--font-gray);
}

.ante-titulo{
  font-family: 'Poppins', sans-serif;
  color: var(--font-green);
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  text-align: center;
  padding-bottom: 8px;
}
.ante-titulo::before{
  content: "- ";
  font-weight: 200;
}

.ante-titulo::after{
  content: " -";
  font-weight: 200;
}
.titulo-secao{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--font-gray);
}

.eixos-atuacao{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--font-black);
}

.eixos-elementos{
  position: relative;
}

.barra-lateral{
  background: rgb(158 158 167 / 40%);
  position: absolute;
  display: inline-block;
  height: 180px;
  width: 1px;
}

@media (max-width: 768px){
  .eixos-elementos{
    padding-top: 2rem !important;
  }
}
@media (max-width: 993px) {
  .barra-meio{
    display: none;
  }
}

@media (max-width: 768px) {
  .barra-lateral{
    display: none;
  }
}

@media (min-width: 768px) {
  .barra-lateral{
    left: 360px;
    /* height: 150px; */
  }
}

@media (min-width: 992px) {
  .barra-lateral{
    left: 240px;
  }
}

@media (min-width: 1200px) {
  .barra-lateral{
    left: 285px;
  }
}

@media (min-width: 1400px) {
  .barra-lateral{
    left: 330px;
  }
}

.img-eixos{
  /* filter: invert(40%) sepia(56%) saturate(661%) hue-rotate(48deg) brightness(89%) contrast(82%); */
  filter: invert(76%) sepia(21%) saturate(1035%) hue-rotate(47deg) brightness(78%) contrast(98%);
}

.registro-ocb{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.sub-titulo{
  font-family: 'Poppins', sans-serif;
  color: var(--font-gray);
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  text-align: center;
}
.sub-titulo::before{
  content: "- ";
  font-weight: 200;
}

.sub-titulo::after{
  content: " -";
  font-weight: 200;
}

.quem-somos{
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Poppins';
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
}

.section-proposito{
  /* background: url(../img/hands.jpg); */
  background: linear-gradient(319deg, rgba(12,78,0,1) 0%, rgba(0,155,148,1) 44%, rgba(255,252,0,1) 100%, rgba(255,252,0,1) 100%);
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background-size: 100dvw auto;
  background-position-y: 10;
  padding: 5% 6% 5% 6%;
}

#proposito{
  font-family: 'Poppins';
}

#proposito p{
  font-size: large;
  font-weight: 300;
}

.card-proposito{
  height: 100%;
  color: var(--white-text);
  background-color: var(--card-background) !important;
  border: none !important;
}

.card-proposito:hover{
  color: var(--font-black);
  background-color: var(--card-background-hover) !important;
  box-shadow: 0 0.5rem 1.2rem rgba(0,0,0,.2);
}

.card-proposito:hover .li-mod{
  list-style: disc;
  font-weight: 300;
}

.card-proposito:hover .li-mod::marker{
  color: var(--font-green);
}

.titulo-card{
  font-weight: 600;
  text-wrap: nowrap;
}

.card-compromisso{
  font-family: 'Poppins';
  font-size: larger;
  font-weight: 300;
  border: none;
  box-shadow: 0 0.5rem 1.2rem rgba(0,0,0,.2);
  position: relative;
  width: 32rem;
  z-index: 10;
  max-width: min-content;
}

.barra-1{
  position: absolute;
  right: 23px;
  top: -50px;
  background-color: var(--barra-verde);
  height: 100px;
  width: 5px;
  z-index: 99;
  overflow: hidden;
}

.barra-2{
  position: absolute;
  left: -50px;
  bottom: 25px;
  background-color: var(--barra-verde);
  width: 100px;
  height: 5px;
  
}

.card-pair-img{
  position: relative;
  /* top: 0; */
  /* right: -28px; */
  height: 36rem;
  width: auto;
  overflow: hidden;
  border-radius: 5px;
}

.img-card-background{
  position: relative;
  width: auto;
  height: 100%;
  vertical-align: middle;
  object-fit: scale-down;
}
.no-overflow{
  overflow: hidden;
  position: relative;
  /* right: 1px; */
  left: auto;
  height: 100%; 
}

/* @media (max-width: 515px){
  .barra-1{
    display: none;
  }
} */

@media (max-width: 600){
.card-compromisso{
  max-width: none;
}
}
