@charset "UTF-8";

:root {
  --white-text: #fff;
  --back-white: #F2F2F2;
  --font-black: #10100E;
  --back-ice: #ededed;
  --font-gray: #333;
  --font-green: #4d9f00;
  --font-light-dark: #ABAEA3;
  --scroll-track: #F8CA0F;
  --card-background: #6115754a;
  --card-background-hover: #ffffffe0;
  --barra-verde: #A7F405;
}

/* start body */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--font-green); 
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(158 158 158 / 50%);
}
body {
  font-family: 'Poppins', sans-serif,  'Poppins', serif ;
} 

nav .nav-link{
  font-size: .8rem;
}

.titulo-secao{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--font-gray);
}

.sub-titulo{
  font-family: 'Poppins', sans-serif;
  color: var(--font-gray);
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  text-align: center;
}
.sub-titulo::before{
  content: "- ";
  font-weight: 200;
}

.sub-titulo::after{
  content: " -";
  font-weight: 200;
}

/* end body */


/* start eixos-atuacao */

.eixos-atuacao{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--font-black);
}

.eixos-elementos{
  position: relative;
}

.barra-lateral{
  background: rgb(158 158 167 / 40%);
  position: absolute;
  display: inline-block;
  height: 180px;
  width: 1px;
}

@media (max-width: 768px){
  .eixos-elementos{
    padding-top: 2rem !important;
  }
}
@media (max-width: 993px) {
  .barra-meio{
    display: none;
  }
}

@media (max-width: 768px) {
  .barra-lateral{
    display: none;
  }
}

@media (min-width: 768px) {
  .barra-lateral{
    left: 360px;
  }
}

@media (min-width: 992px) {
  .barra-lateral{
    left: 240px;
  }
}

@media (min-width: 1200px) {
  .barra-lateral{
    left: 285px;
  }
}

@media (min-width: 1400px) {
  .barra-lateral{
    left: 330px;
  }
}

.img-eixos{
  filter: invert(76%) sepia(21%) saturate(1035%) hue-rotate(47deg) brightness(78%) contrast(98%);
}

/* end eixos-atuacao */

/* start quem-somos */

.quem-somos{
  font-size: 1.5rem;
  font-weight: 300;
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
}

/* end quem-somos */

/* start proposito */

.section-proposito{
  background: linear-gradient(319deg, rgba(12,78,0,1) 0%, rgba(0,155,148,1) 44%, rgba(255,252,0,1) 100%, rgba(255,252,0,1) 100%);
  background-size: 100dvw auto;
  background-position-y: 10;
  padding: 5% 6% 5% 6%;
}

.li-mod{
  list-style: circle;
   
  font-weight: 200;
}

.li-mod::marker{
  margin: 0 .5rem 0 0;
  color: var(--back-white);
}

#proposito p{
  font-size: large;
  font-weight: 300;
}

.card-proposito{
  height: 100%;
  color: var(--white-text);
  background-color: var(--card-background) !important;
  border: none !important;
}

.card-proposito:hover{
  color: var(--font-black);
  background-color: var(--card-background-hover) !important;
  box-shadow: 0 0.5rem 1.2rem rgba(0,0,0,.2);
}

.card-proposito:hover .li-mod{
  list-style: disc;
  font-weight: 300;
}

.card-proposito:hover .li-mod::marker{
  color: var(--font-green);
}

.titulo-card{
  font-weight: 600;
  text-wrap: nowrap;
}

/* end proposito */


/* start compromisso */

.card-compromisso{
  font-size: larger;
  font-weight: 300;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
  position: relative;
  width: 32rem;
  z-index: 10;
  max-width: min-content;
}

.barra-1{
  position: absolute;
  right: 23px;
  top: -50px;
  background-color: var(--barra-verde);
  height: 100px;
  width: 5px;
  z-index: 99;
  overflow: hidden;
}

.barra-2{
  position: absolute;
  left: -50px;
  bottom: 25px;
  background-color: var(--barra-verde);
  width: 100px;
  height: 5px;
  
}

.card-pair-img{
  position: relative;
  height: 36rem;
  width: auto;
  overflow: hidden;
  border-radius: 5px;
}

.img-card-background{
  position: relative;
  width: auto;
  height: 100%;
  vertical-align: middle;
  object-fit: scale-down;
}
.no-overflow{
  overflow: hidden;
  position: relative;
  left: auto;
  height: 100%; 
}

@media (max-width: 860px){
  
  .no-overflow{
    /* padding-top: 10px; */
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .conteudo-compromissos{
    margin-top: 12rem !important;
  }
  .card-pair-img {
    border-radius: 0px;
  }
}

/* end compromisso */

/* start registro-ocb */

.container-x{
  padding-bottom: 0 !important;;
}

.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 865px){
  .img-ocb{
    display: none;
  }
  .grid{
    grid-template-columns: 1fr;
    margin: 30px
  }
  .registro-ocb{
    font-size: 30px;
  }
}

@media (min-width: 1700px){
  .registro-ocb span{
    padding-right: 50px;
  }
}

.registro-ocb{
  font-size: 40px;
}

.registro-ocb p{
  font-weight: 600;
}

.registro-ocb span{
  text-align: left;
  font-weight: 200;
}

/* end registro-ocb */


/* start participe */

.participe{
  font-size: 1.5rem;
  font-weight: 300;
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
}

/* end participe */


/* start map */

.map-location{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#map{
  height: 50dvh;
}


/* end map */

/* start footer */

.fundo-escuro{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(20,7,0,1) 100%);
  color: var(--font-light-dark);
}

.external-link::after{
  font-weight: 200;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='15px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 12V6C5 5.44772 5.44772 5 6 5H18C18.5523 5 19 5.44772 19 6V18C19 18.5523 18.5523 19 18 19H12M8.11111 12H12M12 12V15.8889M12 12L5 19' stroke='%23ABAEA3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.icon-email{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7' stroke='%23ABAEA3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='3' y='5' width='18' height='14' rx='2' stroke='%23ABAEA3' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
 font-size: inherit;
}

.link-footer{
  text-decoration: none;
  color: var(--font-light-dark);
}

.link-footer:hover{
  text-decoration: underline;
}

/* end footer */