@charset "UTF-8";

:root {
  --back-white: #F2F2F2;
  --font-black: #10100E;
  --back-ice: #ededed;
  --font-gray: #333;
  --font-green: #4d9f00;
  --scroll-track: #F8CA0F;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--font-green); 
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(158 158 158 / 50%);
}
body {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Roboto', sans-serif,  'Roboto', serif ;
} 
.fundo-claro{
  background: var(--back-white);
  color: var(--font-black);
}

.fundo-escuro{
  background: var(--back-ice);
  color: var(--font-gray);
}

.ante-titulo{
  font-family: 'Poppins', sans-serif;
  color: var(--font-green);
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  text-align: center;
  padding-bottom: 8px;
}
.ante-titulo::before{
  content: "- ";
  font-weight: 200;
}

.ante-titulo::after{
  content: " -";
  font-weight: 200;
}
.titulo-secao{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--font-gray);
}

.eixos-atuacao{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--font-black);
}

.eixos-elementos{
  position: relative;
}

.barra-lateral{
  background: rgb(158 158 167 / 40%);
  position: absolute;
  display: inline-block;
  height: 180px;
  width: 1px;
}

@media (max-width: 768px){
  .eixos-elementos{
    padding-top: 2rem !important;
  }
}
@media (max-width: 993px) {
  .barra-meio{
    display: none;
  }
}

@media (max-width: 768px) {
  .barra-lateral{
    display: none;
  }
}

@media (min-width: 768px) {
  .barra-lateral{
    left: 360px;
    /* height: 150px; */
  }
}

@media (min-width: 992px) {
  .barra-lateral{
    left: 240px;
  }
}

@media (min-width: 1200px) {
  .barra-lateral{
    left: 285px;
  }
}

@media (min-width: 1400px) {
  .barra-lateral{
    left: 330px;
  }
}

.img-eixos{
  /* filter: invert(40%) sepia(56%) saturate(661%) hue-rotate(48deg) brightness(89%) contrast(82%); */
  filter: invert(76%) sepia(21%) saturate(1035%) hue-rotate(47deg) brightness(78%) contrast(98%);
}

.registro-ocb{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.sub-titulo{
  font-family: 'Poppins', sans-serif;
  color: var(--font-gray);
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  text-align: center;
}
.sub-titulo::before{
  content: "- ";
  font-weight: 200;
}

.sub-titulo::after{
  content: " -";
  font-weight: 200;
}

.quem-somos{
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Poppins';
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
}

.proposito{
  
}